/*
Theme Name: Dream Big
Author: Matthew Mills and Danielle Lough
Author URI: https://www.gitlab.com/penguin007, https://www.gitlab.com/delough
Description: A theme specifically designed for Dr. Jaelyn Farris, and her company DREAM Development, LLC.
License: GNU General Public Licence v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: simplistic, clean, side-bar
Text Domain: dreambig
 */

 /* The main font used throughout the theme will be Lato */
@import url('https://fonts.googleapis.com/css?family=Lato:400');

/*
    Colors:
        Dove Gray: 
            #6D6D6D;
            rgb(109,109,109);
        Monarch
            #690717;
            rgb(105,7,23);
        Cardinal:
            #A71930;
            rgb(167,25,22);
        Black:
            #000000;
            rgb(0,0,0);
            black
*/

/*
    Up to you Dani on how to change this
    Just note that the sidebar stuff needs to stay if it is to be displayed properly...
*/

/*
    Only downside that i can see here is that if we want to use
    an alpha on the colors...don't think we can with this but
    it was awesome to me that css had this so I wanted to add it
*/
:root {
    --dove-gray: rgb(109,109,109);
    --monarch: rgb(105,7,23);
    --cardinal: rgb(167,25,22);
}

body {
    font-family:Lato,sans-serif
}

.header-row, .footer {
    background-color: black;
}

.header-row h1 a,
.header-row h1 a:hover,
.header-row h1 a:visited,
.header-row h1 a:active,
 {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 2vw;

}
.header-row h2, .header-row h1 {
    width: 100%;
    text-align: center;
}

.header-row h1 a {
    color: white;
}
/*sidebar*/

/*
  #sidebar id is needed to override the quotes collection
  plugin's CSS (we are just making it a higher specificity).
 */
#sidebar {
    background-color: var(--cardinal);
}

#sidebar-quote blockquote, #sidebar-quote cite {
    color: white;
}

#sidebar-quote cite.author {
    font-size: 0.98em;
    font-style: italic;
}

/*

  Removes the the -- text before the the author
  https://stackoverflow.com/questions/15196630/hide-text-node-in-element-but-not-children
*/
#sidebar-quote .attribution {
    visibility: collapse;
}

/*Returns visibility to the cite tag but keeps all text elements invisible*/
#sidebar-quote .attribution cite {
    visibility: visible;
}

#featured {
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    margin: 0.5%;
}

#featured h2 {
    width: 100%;
    text-align: center;
    font-size: 4vw;
}

.site-containers{
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
}

#sites {
    margin: 1% 0px;
}

.header-row h2 {
    color: white;
}

#sites a {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-bottom: 1%;
}


/*.site-containers a{
    text-decoration: none;
    color: black;
}    
*/
.site-titles{
    text-decoration: none;
    color: black;
}

.site-titles a:hover{
    text-decoration: bold;
}

footer{
    /*position: absolute;*/
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: white;
    background: #192231;
    border-top: 5px solid #595858;
}

#nav-container{
    width: 100%;
    max-width: 100%;
    padding: 0;
}

/*.navbar-nav{
    text-align: center;
    width: 100%;
}*/

.feat-posts {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

.feat-post {
    flex: 1 0 auto;
    text-align: center;
}

#main-navbar {
    background-color: black;
    color: white;
}

/*this makes the avatar picture into a circle rather than a square*/
.avatar {
    border-radius: 96px;
}

#sidebar section h3 {
    font-weight: bolder;
}

#sidebar section {
    color: white;
}
#sidebar section a {
    text-decoration: none;
    color: white;
}

#sidebar section a:visited {
    text-decoration: none;
    color: wheat;
}
/* =WordPress Core -------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #eee;
	clip: auto !important;
	clip-path: none;
	color: #444;
	display: block;
	font-size: 1em;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}